<?xml version="1.0" ?>

<robot name="skidsteerV1">

  <link name="base_link">
  </link>

  <link name="imu_link">
  </link>

  <link name="gps_link">
  </link>

  <link name="cam_right_link">
  </link>

  <link name="cam_left_link">
  </link>

  <link name="livox_right_frame">
  </link>

  <link name="livox_left_frame">
  </link>

  <joint name="imu_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 1.0"/>
    <parent link="base_link"/>
    <child link="imu_link"/>
  </joint>

  <joint name="gps_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 2.0"/>
    <parent link="base_link"/>
    <child link="gps_link"/>
  </joint>

  <joint name="cam_right_joint" type="fixed">
    <origin rpy="-1.57 0 -1.57" xyz="1 -0.6 2.2"/>
    <parent link="base_link"/>
    <child link="cam_right_link"/>
  </joint>

  <joint name="cam_left_joint" type="fixed">
    <origin rpy="-1.57 0 -1.57" xyz="1 0.6 2.2"/>
    <parent link="base_link"/>
    <child link="cam_left_link"/>
  </joint>

  <joint name="livox_right_joint" type="fixed">
    <origin rpy="-3.1416 0 0" xyz="1 -0.6 2.0"/>
    <parent link="base_link"/>
    <child link="livox_right_frame"/>
  </joint>

  <joint name="livox_left_joint" type="fixed">
    <origin rpy="-3.1416 0 0" xyz="1 0.6 2.0"/>
    <parent link="base_link"/>
    <child link="livox_left_frame"/>
  </joint>
  

</robot>








