<launch>

  <!-- load global ros param -->
  <rosparam file="$(find robo_bringup)/params/topic_names.yaml" command="load"/>

  <!-- static urdf tf bring up -->
  <param name="robot_description" textfile="$(find robo_bringup)/urdf/skidsteerV1.urdf" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  
  
  <!--include file="$(find robo_bringup)/launch/robo_lidar_left_launch.launch"/-->
  <!--include file="$(find robo_bringup)/launch/robo_lidar_right_launch.launch"/-->

  <!-- detection bring up -->  
  <include file="$(find robo_bringup)/launch/pointcloud_to_laserscan.launch"/>
</launch>
