<launch>

  <!-- load global ros param -->
  <rosparam name="robo_param" file="$(find robo_bringup)/params/topic_names.yaml" command="load"/>

  <!-- static urdf tf bring up -->
  <param name="robot_description" textfile="$(find robo_bringup)/urdf/skidsteerV1.urdf" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
	
  <!-- sensors bring up -->
  <node name="robo_sensor_camera" pkg="robo_camera" type="camera_broadcast.py" output="screen"/>

  <include file="(find robo_bringup)/launch/robo_lidar_left_launch.launch"/>
  <include file="(find robo_bringup)/launch/robo_lidar_right_launch.launch"/>


  <!-- detection bring up -->  
  <include file="(find robo_bringup)/launch/robo_detection_launch.launch"/>
  
  <!-- control module bring up --> 
  <node pkg="robo_control" type="can_transmit" name="robo_control_node">
W
</launch>
