<launch>
  <!-- load global ros param -->
  <rosparam file="$(find robo_bringup)/params/topic_names.yaml" command="load"/>

  <!-- static urdf tf bring up -->
  <param name="robot_description" textfile="$(find robo_bringup)/urdf/skidsteerV1.urdf" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  
  <node name="object_pose_estimation_node" pkg="robo_detection" type="object_pose_estimation.py" output="screen" respawn="true">
  	<rosparam file="$(find robo_detection)/config/detection_config.yaml" command="load"/>
  </node>

  <node name="target_pose_process_node" pkg="robo_detection" type="target_pose_process.py" output="screen" respawn="true">
    	<rosparam file="$(find robo_detection)/config/pose_process_config.yaml" command="load"/>
  </node>
    
</launch>
