<launch>

  <param name="/use_sim_time" value="true"/>

  <!-- pc to ls -->
  <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan">
    <remap from="cloud_in" to="/airsim_node/drone_1/lidar/LidarCustom"/>
  </node>

<node pkg="gmapping" type="slam_gmapping" name="gmapping_thing" output="screen" >
  <remap from="scan" to="/scan" />
  <param name="odom_frame" value="drone_1/odom_local_ned" />
  <param name="base_frame" value="drone_1/LidarCustom" />
</node>


  <!-- Run the costmap node 
  <node name="costmap_node" pkg="costmap_2d" type="costmap_2d_node" >
    <rosparam file="$(find costmap_2d)/launch/example_params.yaml" command="load" ns="costmap" />
  </node>
  -->

    <!--  ************** Navigation ***************  -->
 <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find teb_local_planner_tutorials)/cfg/carlike/costmap_common_params_no_static_map.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find teb_local_planner_tutorials)/cfg/carlike/costmap_common_params.yaml" command="load" ns="local_costmap" /> 
    <rosparam file="$(find teb_local_planner_tutorials)/cfg/carlike/local_costmap_params_no_static_map.yaml" command="load" />
    <rosparam file="$(find teb_local_planner_tutorials)/cfg/carlike/global_costmap_params_no_static_map.yaml" command="load" />
    <rosparam file="$(find teb_local_planner_tutorials)/cfg/carlike/teb_local_planner_params.yaml" command="load" />

    <param name="base_global_planner" value="global_planner/GlobalPlanner" />
    <param name="planner_frequency" value="1.0" />
    <param name="planner_patience" value="5.0" />

    <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
    <param name="controller_frequency" value="5.0" />
    <param name="controller_patience" value="15.0" />

             <param name="clearing_rotation_allowed" value="false" /> <!-- Our carlike robot i    s not able to rotate in place -->
 </node>


 <!--  ****** Maps *****  -->

 <node pkg="amcl" type="amcl" name="amcl" output="screen">
    <rosparam file="$(find teb_local_planner_tutorials)/cfg/amcl_params.yaml" command="load"     />

 </node>

   <!--  **************** Visualisation ****************  -->
   <node name="rviz" pkg="rviz" type="rviz" args="-d $(find teb_local_planner_tutorials)/cfg/r    viz_navigation.rviz"/>


</launch>

